.creation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #eba64c;
}

.formulario{
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: flex-start;
    margin-top: 30px;
    
}