.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1d191d;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/23/989/65/crysis-video-games-texture-wallpaper-preview.jpg")
    
}

.paginas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0a090a;
}

.botonesP{
    width: 80px;
}

.numeroP{
    display: flex;
    border: black;
    border-radius: 4px;
    border-color: rgb(189, 18, 18);
    background-color: lightcyan;
    justify-content: center;
    align-items: center;
    width: 30px;


}